@font-face {
  font-family: 'SVN-Gilroy';
  font-weight: 400;
  font-style: normal;
  src: local('SVN-Gilroy'), url('SVN-GilroyRegular.otf') format('opentype');
}

@font-face {
  font-family: 'SVN-Gilroy';
  font-weight: 500;
  font-style: normal;
  src: local('SVN-Gilroy'), url('SVN-GilroyRegular.otf') format('opentype');
}

@font-face {
  font-family: 'SVN-Gilroy';
  font-weight: 600;
  font-style: normal;
  src: local('SVN-Gilroy'), url('SVN-GilroyMedium.otf') format('opentype');
}

@font-face {
  font-family: 'SVN-Gilroy';
  font-weight: 700;
  font-style: normal;
  src: local('SVN-Gilroy'), url('SVN-GilroyBold.otf') format('opentype');
}
